*{
  box-sizing: border-box;
}
div{

}
ul{
  width: 1250px;
  height: auto;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  border: 1px solid white;
  display: flex;
  flex-flow: row wrap;
}
li{
  flex: 1 1 250px;
  padding: 15px;
  background: aqua;
  border: 1px solid red;
  border-radius: 10px;
  list-style: none;
  margin: 10px;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}